body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    letter-spacing: 1px;
    padding: 10px;
    background-color: black;
    color: #f5e5d4;
}

h1 {
    color: #fc9139;
    font-size: 250%;
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
}

/* navigation */

a {
    color: #fc9139;
    margin-right: 20px;
    text-decoration: none;
}

nav {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
nav > a:hover {
    color: rgb(252, 6, 6);
}
/* line under nav side */
.here a:active {
    border-bottom: solid 1px;
}

/* images not including head image */

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* footer */
footer {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

p > a:hover {
    color: rgb(252, 6, 6);
}

/* Media queries */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    section {
        font-size: large;
        letter-spacing: 1px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
    section {
        font-size: large;
        letter-spacing: 2px;
        padding-left: 300px;
        padding-right: 300px;
    }
}
